html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

canvas {
    position: fixed;
    display: block;
}

#canvas-container {
    position: relative; 
    width: 100%;
    height: 100%;
}

#model-surface {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

#axisViewport-surface {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
}

#orientationViewport-surface {
    position: absolute;
    right: 0; 
    bottom: 0;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    pointer-events: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

.overlay-element {
    color: rgba(255, 255, 255, 0.5);
    font-size: small;
    font-family: arial, sans-serif, sans-serif;
    margin: 0px 0;
}

